<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/ownerpanel.css" />

    <title>
        <%= pageTitle%>
    </title>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="wrapper">
        <h1 class="main-heading">Admin Panel</h1>

        <% if(sucMessage){ %>
        <di v id="messages">
            <div class="alert alert-success">
                <%= sucMessage %>
            </div>
        </div>
        <%}%>
                    <% if(errMessage){ %>
        <div id="messages">

            <div class="alert alert-warning">
                <%= errMessage %>
            </div>
        </div>
        <%}%>
                            <div id="options">
                                <a href="/owner/teacherstatus" class="options-card btn-info p-2">
                                    <h3>Teachers</h3>
                                    <p class="lead">
                                        Find teachers and modify them 
                                    </p>
                                </a>
                                <a href="/owner/studentstatus" class="options-card card bg-success p-2">
                                    <h3>Students</h3>
                                    <p class="lead">
                                        Find Overall Numbers Of Student, each studnet status, delete or modify them
                                    </p>
                                </a>
                                <!-- <a href="/owner/subjects" class="options-card card bg-success p-2">
                                    <h3>Subjects</h3>
                                    <p class="lead">
                                       Find all registred subjects & their teachers.
                                    </p>
                                </a> -->
                            </div>
                          

        </div>

        <%- include('../includes/end.ejs') %>

</body>

</html>