<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/ownerpanel.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <div class="container">

        <div class="jumbotron" id="singleTeacher">
            <div class="singleTeacher-header">
                <div class="singleTeacher-header_info">
                    <h1>
                        <%= teacher.name %>
                    </h1>
                    <h4>
                        <%= teacher.mobile %>
                    </h4>
                    <div>
                        <a class="badge badge-success badge-pill" href="/admin/teachers/lessons/<%=teacher._id%>">
                            الدروس:
                            <%=lessonsLength%>
                        </a>
                        <span class="badge badge-danger badge-pill"> الطلاب:
                            <%=studentsLength%>
                        </span>
                        <span class="badge badge-success badge-pill">
                            الوحدات:
                            <%=unitsLength%>
                        </span>

                        <span class="badge badge-dark badge-pill"> المجموعات:
                            <%=teacher.centers.length%>
                        </span>


                    </div>
                </div>


            </div>
            <img class="rounded" src="/<%=teacher.profileImage ? teacher.profileImage : 'images/teacher.svg'%>" alt="">
        </div>
    </div>
    <%- include('../includes/end.ejs') %>

</body>

</html>