<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/ownerpanel.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous" />
        <title>
            <%= pageTitle%>
        </title>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
        <<div class="wrapper">
            <h1 class="main-heading">All Requests:</h1>
            <div style="background-color: #fff" id="students-panel">
                <img id="loading" src="/images/loading.svg" alt="">
                <%if(students.length > 0){%>
                    <ul class="student-panel_students-list list-group">
                        <% students.forEach(s =>{ %>
                            <li class="list-group-item align-items-center">
                                <a href="/teacher/student/<%=s.student._id%>">
                                    <%= s.student.name %>
                                </a>
                                <span>
                                    <%= s.studentCenter %>
                                </span>
                                <span>
                                    <%= s.student.mobile %>
                                </span>

                                <span class="denyBtn badge badge-danger badge-pill">Deny
                                    <input type="hidden" name="studentId" value="<%=s.student._id%>">
                                </span>
                                <span class="acceptBtn badge badge-success badge-pill">
                                    Accept
                                    <input type="hidden" name="studentId" value="<%=s.student._id%>">
                                </span>
                            </li>
                            <%})%>
                    </ul>
                    <%}%>
            </div>


            </div>

            <%- include('../includes/end.ejs') %>
                <script src="/js/assistentRequestsConfig.js"></script>


</body>

</html>