<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/student/exam.css" />

  <title>
    <%= pageTitle%>
  </title>
</head>

<body>
  <div class="wrapper">
    <div id="timer" class="none">
    </div>
    <div id="holders">
      <section class="placeHolder" style="height: 300px;">
        <article class="background">
          <div class="a"></div>
          <div class="b"></div>
          <div class="c"></div>
          <div class="d"></div>
          <div class="e"></div>
          <div class="f"></div>
          <div class="g"></div>
          <div class="h"></div>
          <div class="i"></div>
          <div class="j"></div>
          <div class="k"></div>
          <div class="l"></div>
        </article>
      </section>
      <section class="placeHolder">
        <article class="background">
          <div class="g"></div>
          <div class="h"></div>
          <div class="i"></div>
          <div class="j"></div>
          <div class="k"></div>
          <div class="l"></div>
        </article>
      </section>
    </div>
    <span id="open-pagination">
      <i class="fas fa-bars"></i>
    </span>
    <input type="hidden" name="lessonId" value="<%=lessonId%>" id="">
    <input type="hidden" name="originalexam" value="<%=examId%>" id="">
    <input type="hidden" name="examType" value="<%=examType%>" id="">
    <input type="hidden" name="userId" value="<%=user._id%>" id="">
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/js/helpers/message.js"></script>
  <script src="/js/helpers/request.js"></script>
  <script src="/js/student/components/exam-layout.js"></script>
  <script src="/js/student/exam.js"></script>
  <script src="/js/student/exam-timer.js"></script>

</body>

</html>