<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css" />
    <title> <%= pageTitle %></title>
    <!-- CSS here -->

</head>

<body>

    <%- include('../includes/nav.ejs') %>
    <div class="wrapper" style="padding-top: 100px;">
        <main>

            <!-- About Details Start -->
            <div class="about-details section-padding30">
                <div class="container">
                    <div class="grid g-two">
                        <div class="col-lg-8">
                            <h2 style=" text-align:right">هل انت مدرس؟</h2>

                            <div class="about-details-cap mb-50">
                                <p class="m-large" style="font-size: 20px; line-height:36px; text-align:right">
                                    هنا يمكنك ان تبني صفحتك الشخصيه و اضافه منهجك كاملا بدون اي مصاريف علي الاطلاق.
                                    نحن لا نطلب منك مال الا في حاله انك انت من تريد كسب
                                    المال من خلالنا
                                    <br><br> .و ذلك عن طريق اختيار حاله الدرس اذا كانت مجانا ام مدفوعه <br><br> في حاله انها
                                    مجانا يمكن لجميع الطلاب رؤيه الدرس و اداء امتحاناته و تنزيل الملازم الخصه به مجانا
                                    تماما.
                                    <br><br> اما اذ كنت تريد الدرس غير مجاني يمكنك جعل الدرس مدفوع و في هذه الحاله تواصل
                                    معنا لشراء اكواد دراسيه لأعاده بيعها للطلاب لشراء الدرس الامر متروك لك تماما لتحدد
                                    ماذا تريد
                                </p>
                    
                            </div>

                            <div class="about-details-cap mb-50">
                                <h2 style=" text-align:right">هل انت طالب</h2>

                                <p style="font-size: 20px; line-height:36px;text-align:right">رؤيتنا أن نحقق الريادة في
                                    مجال التعليم الرقمي، وأن نبدع في الجمع بين التعليم
                                    والتكنولوجيا والتصميم.
                                    هنا يمكنك البحث عن المواد الدراسيه و رؤيه جميع المدرسين اللذين يؤدون الماده و رؤيه
                                    تقيمهم من الطلاب السابقيين.
                                    <br>
                                    <br>
                                    في حاله وجدت المدرس الذي ترغب في الدراسه معه اذا كان المنهج الخاص به مدفوع يمكنك
                                    التواصل معنا لشراء اكواد دراسيه للدروس اللذي ترغب في شرائها .
                                    <br>
                                    <br>
                                    جميع الدروس المشتراه سوف تجدها في صفحتك الشخصيه للرجوع لها مدي الحياه
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <img src="/images/icons/medal.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Details End -->

        </main>
    </div>
    <%- include('../includes/footer.ejs') %>
    <%- include('../includes/end.ejs') %>
  

</body>

</html>