<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/landing.css" />
    <title>
      <%= pageTitle %>
    </title>

</head>

<body>

  <!--header-->
  <%- include('../includes/nav.ejs') %>


    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
        <source src="/landing/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
        <div class="caption">
          <h2><span>Smart</span> Academy</h2>
          <h6>التعلم عن بعد كما لم تشاهده من قبل</h6>
          <div class=" flex f-center">
            <a class=" btn-main" href="/signup">اشترك دلوقتي</a>
            <a class=" btn-main" href="/public/about">اعرف اكتر</a>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->


    <section class="features ">
      <div class="grid g-three w-75 m-auto">
        <div class="features-post third-features">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/live.svg" alt="">
            </div>
            <div class="">
              <p>جميع الحصص تكون مسجله للرجوع اليها في اي وقت للمراجعه</p>

              <div class="scroll-to-section"><a href="#section4" href="/about">المزيد</a></div>
            </div>
          </div>
        </div>
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/medal.svg" alt="">

            </div>
            <div class="">
              <p>تفاعل مع افضل المدرسين علي الاطلاق في جميع المواد التعليميه </p>

              <div class="scroll-to-section"><a href="/about">المزيد</a></div>
            </div>
          </div>
        </div>
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/qa.svg" alt="">

            </div>
            <div class="">
              <p>تدريب علي الامتحان الالكتروني بجميع انواع الاسأله (الاختيار المتعدد, المقالي, صح و خطأ و الكثير)..
              </p>

              <div class="scroll-to-section"><a href="/about">المزيد</a></div>
            </div>
          </div>
        </div>
        <div class="features-post">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/pdf.svg" alt="">

            </div>
            <div class="">
              <p> جميع الدروس تحتوي علي ملازم و نماذج اجابات للمراجعه و الدراسه لتكون علي اتم استعداد دائما</p>

              <div class="scroll-to-section"><a href="/about">المزيد</a></div>
            </div>
          </div>
        </div>

        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/e-learning.svg" alt="">

            </div>
            <div class="">
              <p>افضل تجربه للتعلم عن بعد و التفاعل بين المدرس و طلابه و البقاء علي استعداد لاحدث طرق التعلم</p>

              <div class="scroll-to-section"><a href="/about">المزيد</a></div>
            </div>
          </div>
        </div>

        <div class="features-post second-features">
          <div class="features-content">
            <div class="content-show">
              <img src="/images/icons/earth.svg" alt="">

            </div>
            <div class="">
              <p>الوصول للمنهج من اي مكان و اي جهاز سواء تابلت, موبايل او كومبيوتر في اي وقت تحب</p>
              <div class="scroll-to-section"><a href="/about">المزيد</a></div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="section video " data-section="section5">
      <div class="row grid g-two w-75 m-auto align-center">
        <div class="left-content">
          <h5>مقدمه عننا</h5>
          <h4>شوف الفيديو عشان تعرف اكتر عن <em>سمارت اكاديمي</em></h4>

          <a rel="nofollow" href="/public/about" class="btn-main" target="_parent">نبذه عننا</a>
        </div>
        <article class="video-item">
          <div class="video-caption">
            <h4>القيديو التعريفي لسمارت اكاديمي</h4>
          </div>
          <figure>
            <a href="https://www.youtube.com/watch?v=r9LtOG6pNUw" class="play">
              <img src="/images/main2.png"></a>
          </figure>
        </article>
      </div>
    </section>

    <section class="section coming-soon" data-section="section3">
      <div class="row grid g-two w-75 m-auto">
        <div class="col-md-7 col-xs-12">
          <div class="continer centerIt">
            <div>
              <h4>اشترك الان <em>مع افضل مدرسين في مصر</em>و لا تتردد</h4>
              <div class="counter">

                <div class="days">
                  <div class="value">00</div>
                  <span>Days</span>
                </div>

                <div class="hours">
                  <div class="value">00</div>
                  <span>Hours</span>
                </div>

                <div class="minutes">
                  <div class="value">00</div>
                  <span>Minutes</span>
                </div>

                <div class="seconds">
                  <div class="value">00</div>
                  <span>Seconds</span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="right-content">
            <div class="top-content">
              <h6>انشئ حسابك المجاني و شوف المحتوي التعليمي علي طول</h6>
            </div>
            <form id="contact" action="/signup" method="post">
              <div class="row">
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <input name="text" type="text" class="form-control" id="mobile" placeholder="Your mobile"
                      required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <input name="password" type="password" class="form-control" id="password"
                      placeholder="Your password" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <input name="confirmPassword" type="password" class="form-control" id="confirmPassword"
                      placeholder="Cofirm password" required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <input name="teacherMobile" type="password" class="form-control" id="teacherMobile"
                      placeholder="Your Teacher Mobile..." required="">
                  </fieldset>
                </div>
                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <select class="form-control" name="grade">
                      <option name="1" value="1">1</option>
                      <option name="2" value="2">2</option>
                      <option name="3" value="3">3</option>
                    </select>
                  </fieldset>
                </div>

                <div class="col-md-12">
                  <fieldset style="border: none;">
                    <button type="submit" id="form-submit" class="button">اشترك و انطلق</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


    <%- include('../includes/footer.ejs') %>

      <%- include('../includes/end.ejs') %>


</body>

</html>