<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <title> <%= pageTitle %></title>
    <!-- CSS here -->

</head>

<body>

    <%- include('../includes/nav.ejs') %>
    <div class="wrapper" style="padding-top: 100px; text-align: center;">
        <main>
            <img src="https://aisusteel.org/wp-content/uploads/2018/04/locked.png" class="h-25 w-25 m-auto" alt="">
            <h1> حسابك غير مفعل, برجاء التواصل مع الدعم </h1>
            <h2>01156565910 </h2>
            <h2>01143451621 </h2>
        </main>
    </div>
    <%- include('../includes/footer.ejs') %>

    <!-- JS here -->
    <%- include('../includes/end.ejs') %>

</body>

</html>